:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

mat-toolbar {
    flex-shrink: 0;
}

.rows {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    column-gap: 2rem;
    padding: 2rem;

    & > div {
        flex-grow: 1;
    }
}

.containers {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
